/* Header */
header div, header li {
  display: inline-block;
}

header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.background-color {
  background-color: rgb(244, 30, 7);
}

nav {
  padding: 14px;
  overflow: hidden;

}

.nav-left {
  float: left;
  font-size: 1.25rem;
  padding-left: 7%;
}

.nav-left a:hover {
  font-weight: 700;
}

.nav-right div{
  float: right;
  font-size: inherit;
}

.nav-right a {
  padding: 5px 15px;
  width: 100%;
}


.nav-right a:hover {
  background-color: #fff;
  color: rgb(244, 30, 7);
  font-weight: 700;
}

/* Imagen Principal*/

.main-image {
  background-image: url('../assets/images/principal-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 400px;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  padding: 7.5rem 0;
}

.line-height {
  line-height: 80px;
}

.text-center {
  text-align: center;
}

/* Main */
